.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  @include paddings-r-l(15px);
}

.team-container {
  @include paddings-t-b(30px);
  @include paddings-r-l(32px);
  background: $button-text-color;

}

.pfl-container {
  @include paddings-t-b(20px);
  @include paddings-r-l(24px);
  background: $button-text-color;
}
