.features {
  @include paddings-t-b(60px);
  @media screen and (min-width: 1200px) {
    @include paddings-t-b(94px);
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-item {
  max-width: 450px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
    margin-bottom: 0px;
  }
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: $button-backgroung-color;
  border-radius: 4px;
}

.features-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: $title-color;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features-description {
  font-weight: 400;
  line-height: 1.714;
}
