.team {
  background-color: $button-backgroung-color;
  @include paddings-t-b(60px);

  @media screen and (min-width: 1200px) {
    @include paddings-t-b(94px);
  }
}

.team-title {
  @include title();
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-container {
  @include paddings-t-b(30px);
  text-align: center;
  background: $button-text-color;
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: $title-color;
}

.team-position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}

.team-item {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    margin-bottom: 0px;
  }
}
